@model ModelFactory.Aluno
@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-m12 p-3">
        <h5 class="card-title">Cadastrar Alunos</h5>
        <form id="form-cadastro" asp-action="Cadastrar" enctype="multipart/form-data">
            <div class="row input-group">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-m12">
                    <button type="button" class="btn btn-primary btn-sm" onclick="$('#Anexo').click()">Importe uma Lista</button>
                </div>
                <hr />
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-m12 pt-3">
                    <h6 class="card-subtitle mb-2 text-muted">Ou insira um novo cadastro</h6>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-m12 pt-3">
                    <label asp-for="Professor.Nome"></label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-m12">
                    @Html.DropDownListFor(x => x.Professor.Id, (List<SelectListItem>)ViewBag.Professores, "- SELECIONE UM PROFESSOR -", new { @class = "form-select", required = "required" })
                    <span asp-validation-for="Professor.Id" class="text-danger"></span>
                    <span asp-validation-for="Professor.Id" class="text-danger"></span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-m12">
                    <label asp-for="Nome"></label>
                    <input asp-for="Nome" maxlength="200" class="form-control" required />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-m12">
                    <label asp-for="ValorMensalidade"></label>
                    <input asp-for="ValorMensalidade" class="form-control decimal" required />
                    <span asp-validation-for="ValorMensalidade" class="text-danger"></span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-m12">
                    <label asp-for="DataVencimento"></label>
                    <input asp-for="DataVencimento" type="date" class="form-control" required />
                    <span asp-validation-for="DataVencimento" class="text-danger"></span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-m12 mt-3">
                    <input type="file" class="invisible" asp-for="Anexo" onchange="PreparaSubmitLista()" accept=".txt" />
                </div>
            </div>
            <div class="row pt-1">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-m2">

                    <button type="submit" class="btn btn-primary btn-sm">Cadastre</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        function PreparaSubmitLista() {
            var bProfessorSelecionado = $('#Professor_Id').val() != "";
            var bPossuiAnexo = $('#Anexo').val() != "";
            if (!bProfessorSelecionado && bPossuiAnexo) {
                mostraDialogo("Antes de exportar uma lista, é necessário selecionar um professor!", "info");
                return;
            }
            if (bPossuiAnexo) {
                $('#form-cadastro').submit();
            }
        }
    </script>
}